@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OutDated</h1>
    <p class="lead">Welcome to OutDated, the fastest way back in the game.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Powered by D.J.S.</a></p>
</div>

<div class="row">
    <div class="col-md-4 margin-top-20"><a href="#" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-pencil"></span> Register</a></div>
    <div class="col-md-4 margin-top-20"><a href="#" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-log-in"></span> Log in</a></div>
    <div class="col-md-4 margin-top-20"><a href="@Url.Action("Details", "User")" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-info-sign"></span> Profile</a></div>
    
    

    @*<div class="col-md-4">
        <h2>Register</h2>
        <p>
           Open you OutDated account today.
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new {@class="btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Already a member? Access your existing account</p>
        <p>@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-default" })</p>
    </div>*@

</div>